

@import "global.less";

.bottom_block {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;

    .add_button {
        width: 120px;
        height: 40px;
        background-color: #FD6584;
        border-radius: 20px;
        border: none;
        cursor: pointer;

        &:hover {
            background-color: #fc7b95;
        }
    }

}

.create_new_task_menu {
    margin-top: 42px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    .task_style(#705CF1, #B9AEFF, #B9AEFF);
}