@font-face {
    font-family: "Nunito";
    font-style: normal;
    font-weight: 700;
    src: url('../assets/fonts/Nunito/Bold/Nunito-Bold.ttf') format('ttf'),
        url('../assets/fonts/Nunito//Bold/Nunito-Bold.woff') format('woff'),
        url('../assets/fonts/Nunito/Bold/Nunito-Bold.woff2') format('woff2');
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

#root {
    width: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
}

body {
    background-color: #212121;
}

* {
    font-family: "Nunito", sans-serif;
    color: #ffffff;
    margin: 0;

    textarea {
        padding: 0;
    }
}

.wrapper {
    position: relative;
    width: 804px;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-left: 10px;
    margin-right: 10px;

    h1 {
        margin-top: 50px;
    }
    .contacts_block {
        position: absolute;
        display: flex;
        top: 10px;
        right: 0px;

        .contact_button {
            margin-left: 15px;

            img {
                height: 24px;
            }
        }
    }
}

.task_style(@background_color, @placeholders_color, @title_color) {

    @text_width: calc(100% - 62px);

    position: relative;
    width: 100%;
    padding: 25px;
    border-radius: 20px;
    background-color: @background_color;

    .inputs_style {
        background-color: @background_color;
        border: none;
        resize: none;
        overflow: hidden;

        &::placeholder {
            color: @placeholders_color;
        }

        &:focus {
            outline: none;
        }
    }

    .buttons_block {
        display: flex;
        height: 32px;

        h2 {
            font-size: 22px;
            height: 24px;
        }

        img {
            height: 32px;
            width: 32px;
            margin-left: 20px;
            cursor: pointer;
        }
    }

    .upper_block {
        width: 100%;
        display: flex;
        justify-content: space-between;

        .divider {
            display: none;
            position: absolute;
            top: 64px;
            left: 0;
            width: 100%;
            height: 1px;
            background-color: #212121;

        }

        .left_block {
            display: flex;
            width: min(60vw, 520px);

            &>img {
                width: 32px;
                height: 32px;
                margin-right: 30px;
                cursor: pointer;
            }

            &>h2 {
                width: @text_width;
                word-wrap: break-word;
                color: @title_color;
            }
        }

        .content_block {
            width: @text_width;
            display: flex;
            flex-direction: column;

            .title_input {
                height: 32px;
                font-size: 22px;
                .inputs_style();
            }

            .description_input {
                width: 100%;
                font-size: 18px;
                margin-top: 15px;
                margin-bottom: 30px;
                .inputs_style();
            }

            .files_list {
                display: grid;
                grid-template-columns: repeat(3, 120px) 100px;

                &>* {
                    margin-right: 20px;
                    margin-bottom: 20px;

                    &:nth-child(4n+4) {
                        margin-right: 0;
                    }
                }
            }
        }

        label {
            cursor: pointer;
        }

        .file_input {
            display: none;
        }
    }

    .date_input {
        font-size: 18px;
        color-scheme: dark;
        background-color: @background_color;
        border: none;
        cursor: text;

        &::-webkit-calendar-picker-indicator {
            cursor: pointer;
        }

        &:focus {
            outline: none;
        }
    }

    @media screen and (max-width: 767px) {


        padding: 20px;

        .buttons_block {
            height: 24px;

            h2 {
                font-size: 18px;
                height: 24px;
            }

            img {
                height: 24px;
                width: 24px;
                margin-left: 15px;
            }
        }

        .upper_block {

            .divider {
                display: block;
            }

            .left_block {
                display: block;
                width: calc(100vw - 60px);

                &>img {
                    width: 24px;
                    height: 24px;
                    margin-right: 30px;
                }

                &>h2 {
                    width: 100%;
                    margin-top: 40px;
                    font-size: 18px;
                }
            }

            .buttons_block {
                position: absolute;
                top: 20px;
                right: 20px;
            }

            .content_block {
                width: 100%;
                margin-top: 40px;
                margin-bottom: 30px;

                .title_input {
                    height: 18px;
                    font-size: 18px;
                }

                .description_input {
                    height: 15px;
                    font-size: 15px;
                }

                .files_list {
                    grid-template-columns: repeat(3, 103px) 93px;

                    &>* {
                        margin-right: 10px;
                        margin-bottom: 10px;

                        &:last-child {
                            margin-bottom: 30px;
                        }
                    }
                }
            }
        }

        .date_input {
            font-size: 15px;
        }
    }

    @media screen and (max-width: 479px) {
        .upper_block {
            .content_block {
                .files_list {
                    grid-template-columns: repeat(2, 103px) 93px;
                }
            }
        }
    }
}